import React from "react";
{{#if wantRedux}}
import { connect } from "react-redux";
{{/if}}
{{#if wantHeaders}}
import { Helmet } from 'react-helmet';
{{/if}}
import "./styles.scss";

interface I{{name}}Props {
  
}

interface State {

}


const {{pascalCase name}} = (props: I{{name}}Props) => {
  return (
    <React.Fragment>
      {{#if wantHeaders}}
      <Helmet>
        <title>The Hungry Soul</title>
      </Helmet>
      {{/if}}
      <div>{{pascalCase name}}</div>
    </React.Fragment>
  );
}

{{#if wantRedux}}
const mapStateToProps = (state: State) => {
  return {
    {{#each props}}
    {{name}}: state.{{name}},
    {{/each}}
  };
}

const mapDispatchToProps = (dispatch: any) => {
  return {
    {{#each props}}
    {{name}}: (value: {{type}}) => {
      dispatch({
        type: "{{name}}",
        payload: value
      });
    }
    {{/each}}
  };
}

export default connect(mapStateToProps, mapDispatchToProps)({{name}});
{{else}}
export default {{name}};
{{/if}}